absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
antropy==0.1.9
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
datasets==4.0.0
decorator==5.2.1
dill==0.3.8
filelock==3.18.0
Flask==2.3.2
flatbuffers==25.2.10
fonttools==4.58.0
frozenlist==1.7.0
fsspec==2025.3.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
huggingface-hub==0.33.4
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
jax==0.4.25
jaxlib==0.4.25
Jinja2==3.1.6
joblib==1.2.0
keras==3.4.1
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.0
llvmlite==0.44.0
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.2
mdurl==0.1.2
mediapipe==0.10.21
ml-dtypes==0.3.1
moviepy==2.2.1
msgpack==1.1.0
multidict==6.6.3
multiprocess==0.70.16
namex==0.0.9
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpifpaf==0.13.11
opt_einsum==3.4.0
optree==0.15.0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
proglog==0.1.12
propcache==0.3.2
protobuf==4.25.7
pyarrow==21.0.0
pycparser==2.22
Pygments==2.19.1
pyparsing==3.0.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
scikit-image==0.25.2
scikit-learn==1.5.1
scipy==1.15.0
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.1
soundfile==0.13.1
soxr==0.5.0.post1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
waitress==3.0.2
Werkzeug==3.1.3
wrapt==1.17.2
xgboost==3.0.2
xxhash==3.5.0
yarl==1.20.1
yt-dlp==2025.6.9
