<footer>
    <ul>
        <li><a href="/privacy_policy.html">Privacy Policy</a></li>
        <li><a href="/terms_of_service.html">Terms of Service</a></li>
        <li>
            <div class="social-icons">
                <a href="#"><img src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.png') }}" alt="Twitter"></a>
                <a href="#"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn"></a>
            </div>
        </li>
    </ul>
</footer>
