<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - DeepVysion+</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div id="navbar-placeholder"></div>
    </header>
    <div class="banner" id="about-banner">
        <h1>About Us</h1>
    </div>
    <section class="content about-section">
        <div class="about-intro">
            <img src="../static/images/hr-group.png">
            <p>
            <b style="color: var(--accents-buttons); font-size: 24px;">Who we are</b><br> We are a dedicated team of students from Temasek Polytechnic, 
            passionately engaged in an innovative deepfake technology project. 
            </p>
        </div>
        <div class="about-intro">
            <img src="../static/images/mission.png">
            <p>
                <b style="color: var(--accents-buttons); font-size: 24px;">Our mission</b><br> Is to delve into the fascinating world of deepfake technology, exploring its vast potential and the 
                significant implications it holds for society.
            </p>
        </div>
        <div class="about-intro">
            <img src="../static/images/archery.png">
            <p>
                <b style="color: var(--accents-buttons); font-size: 24px;">Our Goal</b><br>Is to uncover the complexities of deepfake technology, raise awareness about its ethical considerations, 
                and contribute to the ongoing discourse on its impact on various aspects of life.
            </p>
        </div>
    </section>

    <section class="content team-section">
        <h2 style="font-size: 2.2em;">Meet the Creators (DeepVision)</h2>
        <div class="team-container">
            <div class="team-member">
                <img src="../static/images/flanders_v2.jpeg" alt="Flanders">
                <div class="team-member-text">
                    <h3>Flanders</h3><br>
                    <p>I am Flanders, the team leader of DeepVision. My role involves overseeing the project and ensuring that all aspects are executed efficiently. I am passionate about technology and its potential impact on society.</p>
                </div>
            </div>
            <div class="team-member">
                <img src="../static/images/chermaine_v2.jpeg" alt="Chermaine">
                <div class="team-member-text">
                    <h3>Chermaine</h3><br>
                    <p>Chermaine is our lead researcher. She delves into the intricacies of deepfake technology and its ethical implications. Her dedication to uncovering the truth behind this technology is unparalleled.</p>
                </div>
            </div>
            <div class="team-member">
                <img src="../static/images/jovan_v2.jpeg" alt="Jovan">
                <div class="team-member-text">
                    <h3>Jovan</h3><br>
                    <p>Jovan is responsible for the technical aspects of our project. His expertise in programming and machine learning enables us to create and detect deepfakes with precision.</p>
                </div>
            </div>
            <div class="team-member">
                <img src="../static/images/yongzheng.jpeg" alt="Yong Zheng">
                <div class="team-member-text">
                    <h3>Yong Zheng</h3><br>
                    <p>Yong Zheng manages our data analysis and interpretation. He ensures that our findings are accurate and meaningful, contributing significantly to the overall success of the project.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="content successors-section">
        <h2 style="font-size: 2.2em; margin-bottom: 2em;">Successors (DeepVysion+)</h2>
        <div class="successors-container">
            <div class="successor">
                <img src="../static/images/eugene.jfif" alt="">
                <h3>Eugene Ng Hong Ping</h3><br>
            </div>
            <div class="successor">
                <img src="../static/images/han_jiun.jfif" alt="">
                <h3>Han Jiun</h3><br>
            </div>
            <div class="successor">
                <img src="../static/images/xiang_lin.jfif" alt="">
                <h3>Lee Xiang Lin</h3><br>
            </div>
            <div class="successor">
                <img src="../static/images/zarah.jfif" alt="">
                <h3>Zarah Lynn Maxwell</h3><br>
            </div>
            <div class="successor">
                <img src="../static/images/adriel.jfif" alt="">
                <h3>Adriel Loh Cheng Jun</h3><br>
            </div>
        </div>
    </section>

    <div id="footer-placeholder"></div>

    <script src="../static/js/scripts.js"></script>
</body>
</html>
