<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Resources</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div id="navbar-placeholder"></div>
    </header>

    <section class="content">
        <h1>Educational Resources</h1>
        <p class="intro-text">Explore our educational resources to learn more about deepfake technology, its applications, detection methods, and how to protect yourself. Click on a topic to dive deeper into the subject.</p>
        
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for topics...">
        </div>

        <div class="clickable-boxes">
            <a href="creation" class="box hidden">
                <h2>Creating Deepfakes</h2>
                <p>Understand the process behind creating a deepfake.</p>
            </a>
            <a href="impact_on_society" class="box hidden">
                <h2>Impact on Society</h2>
                <p>Understand how deepfakes affect various aspects of society.</p>
            </a>
            <a href="legal_and_ethics" class="box hidden">
                <h2>Legal and Ethics</h2>
                <p>Explore the legal and ethical considerations surrounding deepfakes.</p>
            </a>
            <a href="history_of_deepfakes" class="box hidden">
                <h2>History of Deepfakes</h2>
                <p>Learn about the evolution of deepfake technology.</p>
            </a>
            <a href="future_trends" class="box hidden">
                <h2>Future Trends</h2>
                <p>Analyze the potential future developments in deepfakes and their implications for different sectors.</p>
            </a>
            <a href="case_studies" class="box hidden">
                <h2>Case Studies</h2>
                <p>Explore detailed deepfake incidents that happened in the past and their impacts.</p>
            </a>
            <a href="identify_deepfakes" class="box">
                <h2>How to Identify Deepfakes</h2>
                <p>Learn practical tips and techniques to identify deepfakes.</p>
            </a>
            <a href="protect_yourself" class="box">
                <h2>Protect Yourself Against Deepfakes</h2>
                <p>Discover ways to protect yourself from the risks posed by deepfakes.</p>
            </a>
        </div>
    </section>

    <div id="footer-placeholder"></div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
