<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal and Ethics</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>
<body>
    <header>
        <div id="navbar-placeholder"></div>
    </header>

    <div class="banner" id="law-ethics-banner">
        <!-- <h1>Deepfake Creation</h1> -->
    </div>

    <section id="legal-ethics" class="content educational-section">
        <div class="text-align-left educational">
        <h1>Legal and Ethics</h1>
        <p class="intro-text">The rise of deepfake technology has brought about numerous legal and ethical concerns. This section delves into the challenges and considerations in these areas.</p>

        <div class="tabs-container">
            <div class="tabs">
                <button class="tab active" data-tab="legal-challenges">Legal Challenges</button>
                <button class="tab" data-tab="ethical-considerations">Ethical Considerations</button>
                <button class="tab" data-tab="regulatory-efforts">Regulatory Efforts</button>
            </div>
        </div>
        <div class="section tab-content" id="legal-challenges" style="display: none;">
            <div class="icon-container">
                <img src="{{ url_for('static', filename='images/legal-icon.png') }}" alt="Legal Challenges">
            </div>
            <div class="text-container">
                <h2>Legal Challenges</h2>
                <p>Deepfakes create complex legal challenges, particularly in areas of defamation, intellectual property, and privacy. Legislators are working to develop laws that address the misuse of this technology.</p>
                <br>
                <p>Courts are grappling with how to handle cases involving deepfakes, as existing laws may not be sufficient to cover the nuances of this advanced technology. New legislation is being proposed to specifically target the malicious use of deepfakes, ensuring that victims have legal recourse.</p>
            </div>
        </div>

        <div class="section tab-content" id="ethical-considerations" style="display: none;">
            <div class="icon-container">
                <img src="{{ url_for('static', filename='images/ethical-icon.png') }}" alt="Ethical Considerations">
            </div>
            <div class="text-container">
                <h2>Ethical Considerations</h2>
                <p>The ethical implications of deepfakes are vast. They raise questions about consent, identity, and the potential for harm. Ethical guidelines are essential to ensure the responsible use of deepfake technology.</p>
                <br>
                <p>There is an ongoing debate about the ethical use of deepfakes in various contexts. For instance, while deepfakes can be used for legitimate purposes in entertainment and education, their potential for abuse in creating misleading or harmful content cannot be ignored. Developing robust ethical frameworks is crucial for guiding the responsible development and application of deepfake technology.</p>
            </div>
        </div>

        <div class="section tab-content" id="regulatory-efforts" style="display: none;">
            <div class="icon-container">
                <img src="{{ url_for('static', filename='images/regulatory-icon.png') }}" alt="Regulatory Efforts">
            </div>
            <div class="text-container">
                <h2>Regulatory Efforts</h2>
                <p>Various countries are taking steps to regulate deepfake technology. These efforts aim to balance innovation with the need to protect individuals and society from potential harms.</p>
                <br>
                <p>Regulatory approaches vary across different regions. Some countries are implementing strict laws that ban the creation and distribution of malicious deepfakes, while others are focusing on promoting transparency and accountability among creators and platforms. International cooperation is also being sought to address the global nature of deepfake threats.</p>
            </div>
        </div>
        </div>
        <div class="text-align-left educational-quicklinks">
            <h3>View more resources:</h3>
            <a href="creation">Creation of Deepfakes</a>
            <div class="divider"></div>
            <a href="impact_on_society">Impact on Society</a><div class="divider"></div>
            <!-- <a href="legal_and_ethics">Legal and Ethics</a>
            <div class="divider"></div> -->
            <a href="history_of_deepfakes">History of Deepfakes</a>
            <div class="divider"></div>
            <a href="future_trends">Future Trends</a>
            <div class="divider"></div>
            <a href="case_studies">Case Studies</a>
            <div class="divider"></div>
            <a href="identify_deepfakes">How to Identify Deepfakes</a>
            <div class="divider"></div>
            <a href="protect_yourself">Protect Yourself Against Deepfakes</a>
            <div class="divider"></div>
        </div>
    </section>

    <div id="footer-placeholder"></div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="../static/js/handle-tab.js"></script>
</body>
</html>
